.jisho-tooltip {
  position: absolute;
  max-width: 300px;
  min-width: 150px;
  color: black;
  padding: 10px;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(225, 229, 229);
  border-image: initial;
}

.jisho-tooltip .jisho-tooltip-arrow {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: rgb(225, 229, 229);
  border-top-width: 0;
  position: absolute;
  bottom: 100%;
}

.jisho-tooltip .jisho-tooltip-arrow-inside {
  content: "";
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
  border-top-width: 0;
  position: relative;
  top: 1px;
  left: -9px;
}

.jisho-tooltip .jisho-tooltip-loading {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(calc(-50% - 8px));
  width: 60px;
  height: 40px;
}

.jisho-tooltip .jisho-tooltip-loading div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 8px;
  background: rgb(238, 229, 237);
  animation: jisho-tooltip-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.jisho-tooltip .jisho-tooltip-loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.jisho-tooltip .jisho-tooltip-loading div:nth-child(2) {
  left: 24px;
  animation-delay: -0.12s;
}

.jisho-tooltip .jisho-tooltip-loading div:nth-child(3) {
  left: 40px;
  animation-delay: 0;
}

@keyframes jisho-tooltip-loading {
  0% {
    top: 4px;
    height: 32px;
  }
  50%,
  100% {
    top: 12px;
    height: 16px;
  }
}

.jisho-tooltip .jisho-tooltip-body .reading {
  font-size: 0.75rem;
}

.jisho-tooltip .jisho-tooltip-body .japanese {
  display: block;
}

.jisho-tooltip .jisho-tooltip-body .word {
  font-size: 1.25em;
}

.jisho-tooltip .jisho-tooltip-body .english {
  display: block;
  word-wrap: break-word;
}
